
*.exp
*.lib
*.epw
*.obj
mews.egg-info/dependency_links.txt
mews.egg-info/not-zip-safe
mews.egg-info/PKG-INFO
mews.egg-info/requires.txt
mews.egg-info/SOURCES.txt
mews.egg-info/top_level.txt
mews/__pycache__/__init__.cpython-310.pyc
mews/__pycache__/__init__.cpython-39.pyc
mews/cython/__pycache__/__init__.cpython-310.pyc
mews/cython/__pycache__/__init__.cpython-39.pyc
mews/cython/markov.cp310-win_amd64.pyd
mews/cython/markov.cp39-win_amd64.pyd
mews/data_requests/__pycache__/__init__.cpython-310.pyc
mews/data_requests/__pycache__/__init__.cpython-39.pyc
mews/data_requests/__pycache__/CMIP6.cpython-310.pyc
mews/data_requests/__pycache__/CMIP6.cpython-39.pyc
mews/epw/__pycache__/__init__.cpython-310.pyc
mews/epw/__pycache__/__init__.cpython-39.pyc
mews/epw/__pycache__/epw.cpython-310.pyc
mews/epw/__pycache__/epw.cpython-39.pyc
mews/errors/__pycache__/__init__.cpython-310.pyc
mews/errors/__pycache__/__init__.cpython-39.pyc
mews/errors/__pycache__/exceptions.cpython-310.pyc
mews/errors/__pycache__/exceptions.cpython-39.pyc
mews/events/__pycache__/__init__.cpython-39.pyc
mews/events/__pycache__/extreme_temperature_waves.cpython-39.pyc
mews/graphics/__pycache__/__init__.cpython-39.pyc
mews/graphics/__pycache__/plotting2D.cpython-39.pyc
mews/stats/__pycache__/__init__.cpython-310.pyc
mews/stats/__pycache__/__init__.cpython-39.pyc
mews/stats/__pycache__/extreme.cpython-310.pyc
mews/stats/__pycache__/extreme.cpython-39.pyc
mews/stats/__pycache__/markov.cpython-310.pyc
mews/stats/__pycache__/markov.cpython-39.pyc
mews/weather/__pycache__/__init__.cpython-310.pyc
mews/weather/__pycache__/__init__.cpython-39.pyc
mews/weather/__pycache__/alter.cpython-310.pyc
mews/weather/__pycache__/alter.cpython-39.pyc
mews/weather/__pycache__/doe2weather.cpython-310.pyc
mews/weather/__pycache__/doe2weather.cpython-39.pyc
mews/weather/__pycache__/psychrometrics.cpython-39.pyc
